# Flutter/Dart
.dart_tool/
.packages
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/

# Build
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/

# Android
android/.gradle/
android/local.properties
